* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #0278ae, #51adcf);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

form button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #0278ae;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background: #0278ae;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 35%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.complete-btn {
  background: #40c235;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.complete-btn:hover {
  background: white;
  color: #40c235;
}

.trash-btn {
  background: rgb(255, 53, 53);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.trash-btn:hover {
  background: white;
  color: rgb(255, 53, 53);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.todo {
  border-radius: 5px;
}

.trash-btn {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(30deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

select {
  color: #0278ae;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #0278ae;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #0278ae;
}

/* Responsiveness */
@media (min-width: 320px) and (max-width: 640px) {
  form {
    flex-wrap: wrap;
  }

  input {
    max-width: 40vh;
  }
}
